###############################################################################
# RESOURCE.CFG - Plugin path used by every command definition
###############################################################################

$USER1$=/usr/local/nagios/libexec